@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: var(--body-bg-color);
  color: white;
}
